<div class="card" style="margin-top: 20px;">
  <div class="card-block">

    <h4 class="text-center">Project Domain: Smart Shopping</h4>
  </div>
</div>
<div class="card" style="margin-top: 20px;">
    <div class="card-block">
        <p><h6>Project Idea </h6> Search of ingredients for a particular dish. </p>
    </div>
</div>

<div class="card" style="margin-top: 20px;">
          <div class="card-block">
      <p><h6>Motivation: </h6> To provide an ease in the shopping process for the customers
      who are looking for a completely new ingredient/product or for which they are not aware of in huge super markets.</p>
  </div>
</div>
<div>
  <div class="card" style="margin-top: 20px;">
    <div class="card-block">
        <p><h6>Significance/Uniqueness: </h6>This project is going to be a guide for the customers to shop for the ingredients required for a dish they want to prepare. Most of them may not have an idea about every ingredient of the dish. This app is going to make their task simple by providing all
        the required details of every ingredient upon selection of the product.
        </p>
      </div>
    </div>
  </div>
<div class="card" style="margin-top: 20px;">
    <div class="card-block">
        <h6>Objective: </h6>Developing the most interactive app by bringing augmented reality into the picture.
        This would reduce the efforts of a customer during his search for an ingredient/product.
    </div>
</div>
<div class="card" style="margin-top: 20px;">
    <div class="card-block">
        <h6>System Features: </h6>First, the customer using this application is expected to choose a food dish for which the ingredients used for preparation of the dish and preparation method is defined and listed previously in the application database. After the customer chooses the type of food dish he defined, the application interface will change into a real-time camera which can recognize the required ingredients such as vegetables, dressings/toppings whatever required for the dish. The interaction with the user will be maintained by labelling the moving or non-moving recognized interest objects in real-time.
        Speech recognition can also be incorporated into this which will get the required ingredient details based on the input product given by customer using speech.
    </div>
</div>
